body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: bisque;
}
li {
  list-style-type: circle;
}
#personal-info-heading {
  margin-top: 1px;
}

#right-side {
  color: black;
}

#nameTitle {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -10px;
}

#left-side {
  background-color: #6d5ee2;
  width: 275px;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 75px 75px 75px;
  grid-gap: 3px;
}

.higherSubject {
  font-size: 20px;
  background-color: #31296d;
  height: 30px;
  text-align: center;
}

.lowerSubject {
  font-weight: bold;
}

.right-side-headers {
  color: #6d5ee2;
}
