html {
  min-width: 720px;
  position: relative;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 14vw; */
}
img {
  height: 20px;
  max-width: 100%;
  display: inline-block;
}

a {
  color: bisque;
}

li {
  list-style-type: circle;
}
#personal-info-heading {
  margin-top: 1px;
}

#right-side {
  display: block;
  margin-right: 0px;
  max-width: 350px;
  color: black;
  height: 100%;
}

#nameTitle {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -10px;
}

#left-side {
  display: block;
  background-color: #6d5ee2;
  width: 20vw;
  min-width: 200px;
  color: white;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 28vw 50vw;
  /* grid-gap: 10px; */
  border-style: solid;
  border-radius: 10px;
}

.higherSubject {
  font-size: 20px;
  background-color: #31296d;
  height: auto;
  text-align: center;
}

.lowerSubject {
  font-weight: bold;
}

.right-side-headers {
  color: #6d5ee2;
}

.left-section {
  width: 10vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px auto;
}
